<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="argencatEntities" connectionString="metadata=res://*/Model.ArgenCatModel.csdl|res://*/Model.ArgenCatModel.ssdl|res://*/Model.ArgenCatModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=root;Persist Security Info=True;database=argencat&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>